body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0;
    align-items: center;
    height: 3.5rem;
    background-color: darkseagreen;
    border-bottom: 1px solid yellowgreen;
    border-radius: 0.25rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Segoe UI';
    color: rgb(153, 84, 84);
}

nav {
    font-size: 1rem;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem !important;
    font-size: 18px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

li {
    padding: 0 1rem 0;
    cursor: pointer;
}

a, .link {
    color: brown;
    text-decoration: none;
}

a:hover {
    color: tomato;
}

main {
    padding-top: 1.75rem;
}

div {
    text-align: center;
    color: darkseagreen
}

h1 {
    font-size: 42px;
    font-weight: 600;
    margin-right: 50px;
    margin-left: 50px
}

h3 {
    font-size: 26px;
}

img {
    width: 100%;
    height:auto;
}

.pojedinacne {
    margin-bottom: 3rem;
    border-bottom: 1px solid yellowgreen;
}

.hamburger-menu-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 45px !important;
}

.hamburger-piece {
    background-color: brown;
    width: 100%;
    height: 4px !important;
}

.sidebar {
        display: none;
        justify-content: center;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 3.5rem;
        right: 0;
        width: 350px;
        height: 100%;
        background-color: brown;
        color: darkseagreen;
        padding-top: 50px;
        border-radius: 0.25rem;
        box-sizing: border-box;
    }

    .header-title-mobile {
        display:none;
    }

@media screen and (max-width: 1180px) {

    header, nav {
        width: 100%;
    }

    .active {
        display: flex;
    }

    header {
        justify-content: space-between;
        box-sizing: border-box;
        position: fixed;
        top: 0;
    }

    nav {
        width: 100px !important;
        display: flex;
        justify-content: flex-end;
    }

    .header-title {
        width: 500px;
    }

    .link {
        color: darkseagreen;
        text-decoration: none;
        font-size: 18px;
    }

    .mb {
        margin-bottom: 20px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger-menu-container {
        display: flex;
        justify-self: flex-end;
        cursor: pointer;
    }


}

@media screen and (max-width: 575px) {

    header {
        padding-left: 0;
    }

    .header-title {
        display: none;
    }

    .header-title-mobile {
        display: block;
        width: 250px !important;
        height: 3.5rem;
        background-size: 100% 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 370px) {
    .sidebar {
        width: 100%;
    }

    .mobile-menu {
        padding: 0 0 0 20px;
    }
}

@media screen and (max-width: 340px) {
    header {
        padding-right: 15px;
    }
}

@media screen and (max-width: 285px) {
    header {
        padding-right: 0px;
    }
}